<?xml version="1.0"?>
<launch>
  <arg name="config" default="$(find-pkg-share create_bringup)/config/default.yaml" />
  <arg name="desc" default="true" />
  <arg name="dev" default="/dev/ttyUSB0" />
  <arg name="publish_tf" default="true" />
  <arg name="latch_cmd_duration" default="0.2" />
  <arg name="start_in_passive_mode" default="false" />
  <arg name="wakeup_pin" default="-1" />

  <node name="create_driver" pkg="create_driver" exec="create_driver" output="screen">
    <param from="$(var config)" />
    <param name="robot_model" value="CREATE_2" />
    <param name="dev" value="$(var dev)" />
    <param name="publish_tf" value="$(var publish_tf)" />
    <param name="latch_cmd_duration" value="$(var latch_cmd_duration)" />
    <param name="start_in_passive_mode" value="$(var start_in_passive_mode)" />
    <param name="wakeup_pin" value="$(var wakeup_pin)" />
  </node>

  <!-- Robot description -->
  <include if="$(var desc)" file="$(find-pkg-share create_description)/launch/create_2.launch" />
</launch>
